<section class="site-contact">
  <div class="container" style="padding-top: 40px; ">
    <h2 class="site-contact-title text-center " style="padding-bottom: 10px;">
      {{ .Params.title | safeHTML }}
    </h2>
 
    <div class="row conSection1">
      <div class="col-md-6">
        <div class="site-contact-form">
         
          <form method="POST" action="#" id="contact_form"> 
            <div class="row">
                <div class="col-12"> <input type="text" class="form_input" name="name" id="contact_name" placeholder="Name" maxlength="100" required> </div>
                <div class="col-12"> <input type="email" class="form_input" name="email" id="contact_email" placeholder="Email" required> </div>
                <div class="col-12"> <input type="number" class="form_input contact_mobile" name="mabile" id="contact_mobile" placeholder="Phone number"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  maxlength="10" min="0" required> </div>
                <div class="col-12"> <input type="text" class="form_input" name="organization" id="contact_organization" placeholder="Organization" maxlength="100" required> </div>
                <div class="col-12"> <button type="submit" class="form_button" id="submit_button" >Submit</button><img id="loading_img" src="/images/loading.gif" style="width: 90px; display: none;"></div>
                <div class="col-12" style="margin-top: 0px;"><p  style="text-align: left; display: none;" class="last_text" id="form_message"></p></div>  
                <input type="hidden" id="utmSrc" name="utmSrc" value="">
                <input type="hidden" id="utmCamp" name="utmCamp" value="">
                 <input type="hidden" id="clickId" name="clickId" value="">                          
            </div>
        </form>
        </div>
      
      <div class="col-md-6">
        <div class="col-md-10">
       <img class=" contactImg" src="{{.Params.contactImg}}" />
      
    </div>
      
    <div class="address  text-center">
      <a href="https://www.google.com/maps/place/TRANSO/@12.9826268,77.6384179,21z/data=!4m5!3m4!1s0x0:0x687d2a3178ed356e!8m2!3d12.9826871!4d77.6385196" target="_blank">
    <p class="lead pb-3" style="color:#FAAD26 ;"> <i class="fa fa-map-marker fa-5x pr-5" style="color:#FAAD26;" aria-hidden="true"></i><span class=" pb-3 border-bottom border-warning">CORPORATE ADDRESS</span></p></a>
    <div class="address-text  ">
      <p class=" "> TRANSO · 630, 1st Main Rd,</p>
       <p>  Binnamangala, Hoysala Nagar,</p>
         <p> Indiranagar, Bengaluru,</p>
        
         <p>  Karnataka 560038, India.</p>
        </p>
      </div>
      </div>
    </div>
  </div>
</section>