

<section class="contactSection">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-6 contactpart align-items-center text-center  ">
                <h3 class="site-contact-title ">
                    <span class="contactPartTitle1 ">
                        {{ .Site.Params.contactPartTitle | safeHTML }}
                   
                    {{ .Site.Params.contactPartTitle1 | safeHTML }}
                </h3> </span>
                <p class> {{.Site.Params.contactPartC | safeHTML}}
            </div>
            <div class="col-md-4 contactpart2">
                <div class="site-contact-form">

                     <!-- <form method="POST" action="#" id="contact_form"> 
                        <div class="row">
                            <div class="col-12"> <input type="text" class="form_input" name="name" id="contact_name" placeholder="Name" maxlength="100" required> </div>
                            <div class="col-12"> <input type="email" class="form_input" name="email" id="contact_email" placeholder="Email" required> </div>
                            <div class="col-12"> <input type="number" class="form_input contact_mobile" name="mabile" id="contact_mobile" placeholder="Phone number"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  maxlength="10" min="0" required> </div>
                            <div class="col-12"> <input type="text" class="form_input" name="organization" id="contact_organization" placeholder="Organization" maxlength="100" required> </div>
                            <div class="col-12"> <button type="submit" class="form_button" id="submit_button" style="">Submit</button><img id="loading_img" src="/images/loading.gif" style="width: 90px; display: none;"></div>
                            <div class="col-12" style="margin-top: 0px;"><p  style="text-align: left; display: none;" class="last_text" id="form_message"></p></div>                            
                        </div>
                    </form> -->
                    <form method="POST" action="#" id="contact_form">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="name" id="contact_name"
                                placeholder="Name *" maxlength="100" required>
                            </div>
                            <div class="col-md-12">
                                <input type="email" class="form-control" name="email" id="contact_email" placeholder="Email *" required>
                            </div>
                            <div class="col-md-12">
                                <input type="number" class="form-control" name="mabile" id="contact_mobile" placeholder="Phone number"  oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"  maxlength="10" min="0" required> </div>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control" name="organization" id="organization"
                                    placeholder="Organization *" required>
                            </div>
                            <!-- <input type="hidden" id="utmSrc" name="utmSrc" value="">
                            <input type="hidden" id="utmCamp" name="utmCamp" value="">
                            <input type="hidden" id="clickId" name="clickId" value="">-->
                            <div class="col-md-12" style="padding-bottom:20px;"> 
                                
                                    <span class="">
                                        By sending these details, I agree to the terms and conditions.
                                    </span>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn-contact" id="submit_button" >Submit</button><img id="loading_img" src="/images/loading.gif" style="width: 90px; display: none;">
                                <div class="col-12" style="margin-top: 0px;"><p  style="text-align: left; display: none;" class="btn-area" id="form_message"></p></div>                            
                               
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>